<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-8 col-md-8 col-lg-8 col-xl-8 col-xxl-8">
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://c.tadst.com/gfx/750w/galician-literature-day-spain.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
            </div>
        </div>
        <div class="col col-12 col-sm-4 col-md-4 col-lg-4 col-xl-4 col-xxl-4"><br><br><br><br><b><i>"Knowledge is free at the LIBRARY.Just bring your own Container.""They open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life.To ask why we need libraries at all, when there is so much information available elsewhere, is about as sensible as asking if roadmaps are necessary now that there are so very many roads."</i></b></div>
    </div>
  </div>
  

 <br>

The Library Project makes it possible for users to search on Google through millions of books written in many different languages, including books that are rare, out of print, or generally unavailable outside of the library system.
From the ground up, dedicated and passionate TLP team members work closely with local governments, boards of education, local communities, teachers, students, volunteers, and donors. We strive to involve our volunteers and donors in almost every aspect of the donation, as transparency is a cornerstone of The Library Project. Our entire team is involved in every aspect of our library donations. A great deal of coordinated effort is involved with each of our library donations. All the team’s hard work is well-worth the tireless effort with just a single smile from a deserving child.
  